
.login-container{
  background-color: #b3abab;;
  min-height: 100vh;
}

.innercolor{
  background-color: #f3f0eb;
}

.submitButton{
   justify-content: center !important;
    margin-top: 10px;
    border: 0px;
    background-color: darkgrey;
    border-radius: 8px;
    padding: 8px 15px;
    font-weight: 400;
    margin-bottom: 2px;
}

.list{
  justify-content: space-between;
}

.profileImg{
  width: 50px;
  border-radius: 4px;
}

.layer{
  border-radius: 40px;
}

.card{
  border: 0px;
}